h1, h2, h3 {border-bottom: 3px solid #ffc107;padding-bottom: 13px;font-weight: 600;}

#shareds {display: none;}
#shareds {pointer-events: none;}
.g-recaptcha {display: none;}


/* LOADER */
.lds-ripple {
display: inline-block;
position: relative;
width: 80px;
height: 80px;
}

.lds-ripple div {
position: absolute;
border: 4px solid #fff;
opacity: 1;
border-radius: 50%;
animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

#loaderFavoris {width: 64px;height: 64px;position: absolute;left: calc(50% - 32px);top: calc(50% - 32px);}
#loaderFavoris div {position: absolute;border: 4px solid #706262;opacity: 1;width: 51px;height: 51px;border-radius: 50%;animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;}

#loaderFavorisAvis {width: 64px;height: 64px;position: absolute;left: calc(50% - 32px);top: calc(50% - 32px);}
#loaderFavorisAvis div {position: absolute;border: 4px solid #5c5555;opacity: 1;width: 51px;height: 51px;border-radius: 50%;animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;}

#message_favoris {display: none !important;}
#message_favoris .message_icone {display: inline-block;font-size: 20px;}
#message_favoris .message_content {display: inline-block;font-size: 20px;font-weight: 600;}

#downloadFavorisModal .modal-body {min-height: 100px;position: relative;}
#close_modal_favoris {display: none;}