h1,
h2,
h3 {
    border-bottom: 3px solid #ffc107;
    padding-bottom: 13px;
    font-weight: 600;
}

#commandesTable thead tr th:first-child {
    border-top-left-radius: 10px;
}

#commandesTable thead tr th:last-child {
    border-top-right-radius: 10px;
}

#commandesTable thead tr {
    height: 60px;
    vertical-align: middle;
}

#tableTotal .item {
    background: #fffaf000;
    padding: 24px;
    border-radius: 16px;
    border: 2px solid #fff;
}

#tableTotal {
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
}

.no_border {
    padding: 0 0;
    border: none;
}