/* Variables */

.result-message {
    line-height: 22px;
    font-size: 16px;
}

.result-message a {
    color: rgb(89, 111, 214);
    font-weight: 600;
    text-decoration: none;
}

.hidden {
    display: none;
}

#card-error {
    color: rgb(105, 115, 134);
    text-align: left;
    font-size: 13px;
    line-height: 17px;
    margin-top: 12px;
}

#card-element {
    border-radius: 4px 4px 0 0;
    padding: 12px;
    border: 1px solid rgba(50, 50, 93, 0.1);
    height: 44px;
    width: 100%;
    box-sizing: border-box;
    background: white;
    margin-top: 10px;
}

#payment-request-button {
    margin-bottom: 32px;
}


/* Buttons and links */

#submit_card:disabled {
    opacity: 0.5;
    cursor: default;
}